/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

@media (min-width: 200px)/*or whatever*/{
.col-sm-1-5 {
width: 12.5%;
}
}

.hover_me {
  background-color: whitesmoke !important;
}

.blueTop {

}

.blueTop:hover {
  color: #d4f7ff !important;
}

.lightblueTop {

}

.lightblueTop:hover {
  color: #e7ffc8 !important;
}

.whiteTop {
}

.whiteTop:hover {
  color: #ffe8f4 !important;
}





.page-header {
  text-align: center;
}

.custom-class {
  padding-top: 8px;
}

.btn:hover {
  color: white;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  position: relative;

}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*.notificationsBox {*/
  /*!*-webkit-animation: glowing 1500ms infinite;*!*/
  /*!*-moz-animation: glowing 1500ms infinite;*!*/
  /*!*-o-animation: glowing 1500ms infinite;*!*/
  /*!*animation: glowing 1500ms infinite;*!*/

  /*!*animation: pulse 5s infinite;*!*/

  /*!*animation:*!*/
      /*!*stretch*!*/
      /*!*1.5s*!*/
      /*!*ease-out*!*/
      /*!*0s*!*/
      /*!*alternate*!*/
      /*!*infinite*!*/
      /*!*none*!*/
      /*!*running;*!*/

  /*animation:*/
      /*pulse 3s ease infinite alternate,*/
      /*nudge 5s linear infinite alternate;*/



/*}*/


/*@keyframes pulse {*/
  /*!*0% {*!*/
    /*!*background-color: #001F3F;*!*/
  /*!*}*!*/
  /*!*100% {*!*/
    /*!*background-color: #FF4136;*!*/
  /*!*}*!*/


@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@-webkit-keyframes glowing {
  0% { background-color: #4143b2; -webkit-box-shadow: 0 0 3px #4143b2; }
  50% { background-color: #3daaff; -webkit-box-shadow: 0 0 40px #3daaff; }
  100% { background-color: #4143b2; -webkit-box-shadow: 0 0 3px #4143b2; }
}

@-moz-keyframes glowing {
  0% { background-color: #4143b2; -moz-box-shadow: 0 0 3px #4143b2; }
  50% { background-color: #3daaff; -moz-box-shadow: 0 0 40px #3daaff; }
  100% { background-color: #4143b2; -moz-box-shadow: 0 0 3px #4143b2; }
}

@-o-keyframes glowing {
  0% { background-color: #4143b2; box-shadow: 0 0 3px #4143b2; }
  50% { background-color: #3daaff; box-shadow: 0 0 40px #3daaff; }
  100% { background-color: #4143b2; box-shadow: 0 0 3px #4143b2; }
}

@keyframes glowing {
  0% { background-color: #4143b2; box-shadow: 0 0 3px #4143b2; }
  50% { background-color: #3daaff; box-shadow: 0 0 40px #3daaff; }
  100% { background-color: #4143b2; box-shadow: 0 0 3px #4143b2; }
}

.notificationsBox {

  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

.notificationsBox.active .notificationsBox.a .notificationsBox.span{
  color: white !important;
  background-color: transparent !important;
}

.readNotificationsBox {
  background-color: transparent !important;
}



.navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: transparent !important;

}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}


.navbar_center {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar_center.navbar-collapse {
  text-align: center;
}

.emptyDiv {
  padding-bottom: 30px !important;
}

.modalCentered {
  margin:auto;
  text-align: center;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  /*display: inline-block;*/
  border-radius: 50%;
  background-color: white;
  width: 200px;
  height: 200px;
}

.centeredNav {
    margin: auto;
    width: 350px;
    border: 3px solid green;
    padding: 0px;
}



  .sitename {

    float: right !important;
    margin-left: 60px;
    font-size: 40px;

    /*width: 100%;*/
    /*text-align: center;*/

  }

  .footer {
    position: relative;
    bottom: 0;
    padding: 0px;
  }

@media (min-height: 1050px) {

  .footer {
     position:fixed;
     bottom:0;
     padding: 0px;
   }


}

  .liveNotifications {

    position: fixed;
    display: none;
    display: block;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;

  }


.notificationAnimated {

}



.sa1 {
  z-index: 20000;
  position: fixed;
     bottom: 20px;
  left: 20px;
}

.sa2 {
  z-index: 20000;
  position: fixed;
     bottom: 95px;
  left: 20px;
}

.sa3 {
  z-index: 20000;
  position: fixed;
     bottom: 170px;
     left: 20px;
}

.sa4 {
  z-index: 20000;
  position: fixed;
     bottom: 245px;
  left: 20px;
}


.section-alert .alert-element {

   color: rgba(255, 255, 255, 0.7);
   border-radius: 4px;
   font-weight: 400;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-align: stretch;
       -ms-flex-align: stretch;
           align-items: stretch;
   padding-right: 20px;
   -webkit-perspective: 1000px;
           perspective: 1000px;
   opacity: 0;
   -webkit-transform-origin: bottom left;
           transform-origin: bottom left;
   -webkit-transform: rotate(90deg) scale(0.5) translate(100px, -300px) rotateX(90deg);
           transform: rotate(90deg) scale(0.5) translate(100px, -300px) rotateX(90deg);
   -webkit-transition: all 450ms cubic-bezier(0, 0.6, 0.35, 1.4);
   transition: all 450ms cubic-bezier(0, 0.6, 0.35, 1.4);
 }
 .section-alert .alert-element .icon {
   padding: 20px;

   background: #0097A7;
   color: white;
   border-radius: 4px 0px 0px 4px;
   overflow: hidden;
 }
 .section-alert .alert-element .icon i {
   -webkit-transform: scale(0.2) translateY(50px);
           transform: scale(0.2) translateY(50px);
   opacity: 0;
   -webkit-transition: all 400ms cubic-bezier(0, 0.6, 0.35, 1.4) 600ms;
   transition: all 200ms cubic-bezier(0, 0.6, 0.35, 1.4) 600ms;
 }
 .section-alert .alert-element .text {
   background: rgba(0, 0, 0, 0.8);
   padding: 0 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   border-radius: 0px 4px 4px 0px;
   -webkit-transform: rotateY(90deg);
           transform: rotateY(90deg);
   -webkit-transition: all 500ms ease-in-out 1000ms;
   transition: all 500ms ease-in-out 1000ms;
   -webkit-transform-origin: center left;
           transform-origin: center left;
   opacity: 0;
 }
 .section-alert .alert-element.is-active {
   opacity: 1;
   -webkit-transform: rotate(0deg) scale(1);
           transform: rotate(0deg) scale(1);
 }
 .section-alert .alert-element.is-active i {
   -webkit-transform: scale(1) translateY(0px);
           transform: scale(1) translateY(0px);
   opacity: 1;
 }
 .section-alert .alert-element.is-active .text {
   -webkit-transform: rotateY(0deg);
           transform: rotateY(0deg);
   opacity: 1;
 }
