
.historyTableData {

    text-align: center;
    margin: auto;

}
.table {
    background-color: #f9fbff;
    border-collapse: separate;
}

.table th {
   text-align: center;
}

td.historyTableData {
    vertical-align: middle !important;
    horizontal-align: middle !important;

    float: none;
    position: relative;

    width: 50%;
    margin: 0 auto !important;
}

.tableHeader {
    padding: 0px !important;
}


.rightSide {
    background-color: ghostwhite;
}

.leftSide {
    background-color: #e8eef0;
}


/*.leftSide {*/
    /*background-color: ghostwhite;*/
/*}*/

/*.rightSide {*/
    /*background-color: #e8eef0;*/
/*}*/
